{% extends "base.html" %} {% load custom_filters %} {% block content %} 

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="alert alert-success text-center pos" role="alert">
    {{message}}
  </div>
  {% endfor %}
</ul>
{% endif %}

<div class="content vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px">
    <h2 class="text-center mb-4">Cadastro</h2>
    <form class="row g-3" method="post">
      {% csrf_token %}
      <div class="form-group">
        {{ form.nome|add_placeholder:"Nome da Empresa" }}
      </div>
      <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-secundary w-100"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Exibir empresas cadastradas
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Empresas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        {% for e in exibir_empresas %}
          {{e.nome}}
        {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
