{% extends "base.html" %}
{% block content %}

<div class="container">

    {{user}}

    <div class="row justify-content-center vh-100">
        <div class="col-md-4 align-self-center">
            <form action="{% url "login_view" %}" method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                    <input type="text" class="form-control" name="login_user" placeholder="Usuário" aria-label="username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                    <input type="number" class="form-control" name="login_pass" placeholder="Senha" aria-label="password" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-outline-dark w-100">Logar</button>
                </div>

            </form>
        </div>

    </div>

</div>

{% endblock content %}